# Core functionality - changes here should be rare!
/src/app.py                   @marcaaron-frigillana
/src/backend/database.py      @marcaaron-frigillana
/src/backend/routers/auth.py  @marcaaron-frigillana

# The frontend will need refactored soon to be more object oriented.
/src/static/   @marcaaron-frigillana
